*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}
body {
  font-family: "Inter", sans-serif;
  background-color: rgba(31, 41, 55, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Karla", sans-serif;
}

:root {
  --color-green: rgba(16, 185, 129, 1);
}
