.pass-gen {
  background-color: var(--color-very-dark-gray-blue);
  max-width: 550px;
  padding: 7.1rem 3.25rem;
}

.pass-gen__header {
  border-bottom: 1px solid #2f3e53;
  padding-bottom: 2.18rem;
}

.pass-gen__title {
  color: var(--color-white);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-400);
  margin-bottom: 0.625rem;
}

.pass-gen__highlight {
  color: var(--color-green);
}

.pass-gen__desc {
  color: var(--color-light-gray-blue);
  font-size: var(--font-size-200);
  margin-bottom: 5.1rem;
}

.pass-gen__label {
  color: var(--color-white);
}

.pass-gen__input,
.pass-gen__checkbox {
  margin-bottom: 1rem;
}

.pass-gen__btn {
  background-color: var(--color-dark-green);
  border: none;
  color: var(--color-white);
  padding: 0.56em 1em;
  border-radius: var(--radius-100);
  transition: filter 300ms;
  cursor: pointer;
}

.pass-gen__btn:hover,
.pass-gen__btn:focus {
  filter: brightness(120%);
}

.pass-gen__output {
  padding-top: 2.18rem;
  display: flex;
  justify-content: space-between;
}

.pass-gen__password {
  background-color: var(--color-dark-gray-blue);
  color: var(--color-green);
  font-weight: var(--font-weight-200);
  width: 211px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-100);
}
