*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-inter);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > .pass-gen {
  width: 100%;
  max-width: 550px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-karla);
}

img {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  color: inherit;
  font: inherit;
  display: block;
  border: none;
  background-color: transparent;
}
