@import "../style.css";
.generated-passwords {
  padding-top: 1.75rem;
}

.generated-passwords__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.generated-passwords__item {
  padding: 0.2rem 0.8rem;
  color: rgba(85, 249, 145, 1);
  background-color: rgba(39, 53, 73, 1);
  border-radius: 0.3rem;
  font-size: 0.8em;
  width: 10.55rem;
  height: 2.43rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
