@import "../style.css";

.password-generator {
  font-size: 1rem;
  padding: 2.6rem;
}
.password-generator__content {
  padding-bottom: 1.75rem;
  border-bottom: 0.05rem solid rgba(47, 62, 83, 1);
}

.password-generator__title {
  font-size: 2.5em;
  margin-bottom: 0.5rem;
}

.password-generator__highlight {
  color: var(--color-green);
}

.password-generator__body {
  color: rgba(213, 212, 216, 1);
}

.password-generator__form {
  margin-top: 2.5rem;
}

.password-generator__button {
  background-color: var(--color-green);
  border: none;
  padding: 0.45rem 0.8rem;
  border-radius: 0.3rem;
  font-family: inherit;
  color: white;
  transition: all 300ms;
  cursor: pointer;
}

.password-generator__button:hover {
  background-color: rgba(16, 185, 129, 0.8);
}
